.result-bar{
    display: flex;
      height: 25px;
      min-width: 5%;
      background-color: #38b673;
      border-radius: 5px;
      font-size: 14px;
      color: #FFFFFF;
      justify-content: center;
      align-items: center;
}
.question{
    margin-top:20px;
    margin-bottom: 70px;
    margin-left:45%;
    text-align: left;
}
.survey-form input, label, textarea{
    display: block;
}
.survey-form label{
    margin-top: 20px;
}
body{
    padding: 20px;
    background-color: #F5F5F5 !important;
}
html{
    background-color: #F5F5F5;
}
.button-group{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.navtop a{
    margin-right:20px;
}
.success-text{
    color: green;
}
.fail-text{
    color:red;
}