// Tabellen CSS
tr:nth-child(odd) { background: lightgray; }
tr:nth-child(even) { background: grey; }
tr:nth-child(1) { background: brown;
					color: white; }
tr.hover {background: lightgray;}

// layout festlegen

.grid {
  display: grid; 
  grid-template-rows: 125px auto auto auto 100px; 
  grid-template-columns: repeat(10, 10%); 
}


.nav {
   grid-column: 1 / 11; 
   grid-row: 2 / 3;  
}

.content {
   grid-column: 1 / 11; 
   grid-row: 3 / 4; 
   padding: 0 1rem 0 2rem; 
}

input { background-color: lightgray; }
input:focus { background-color: white; }
input:hover { box-shadow: 0 0 3px blue;  } 
input:placeholder-shown {
  color: white;
}

a:hover { color: snow; }
a:active{ color: gray; }
a:link {  color: darkgray; }
a:hover { color: red; }
a:active { color: red; }




